<div class="contacts">
  <h2><span aria-hidden="true">💬</span> Contacts</h2>
  <p>Feel free to contact me!</p>
  <ul aria-label="contacts list">
    <li>
      <div class="contact-card">
        <a href="mailto:borabaloglu@protonmail.com" target="_top">
          <div class="contact-name"><span aria-hidden="true">👉</span> Mail</div>
          <div class="contact-url">borabaloglu@protonmail.com</div>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-card">
        <a href="https://github.com/borabaloglu" target="_blank">
          <div class="contact-name"><span aria-hidden="true">👉</span> Github</div>
          <div class="contact-url">/borabaloglu</div>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-card">
        <a href="https://www.linkedin.com/in/bora-baloglu" target="_blank">
          <div class="contact-name"><span aria-hidden="true">👉</span> Linkedin</div>
          <div class="contact-url">/bora-baloglu</div>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-card">
        <a href="https://twitter.com/borabalogluu" target="_blank">
          <div class="contact-name"><span aria-hidden="true">👉</span> Twitter</div>
          <div class="contact-url">/borabalogluu</div>
        </a>
      </div>
    </li>
  </ul>
</div>
