footer {
  margin-top: 30px;
  margin-bottom: 150px;
  section {
    p {
      &:first-child {
        margin-top: 30px;
      }
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
      a {
        text-decoration: none;
        font-family: "Ubuntu Mono";
        font-size: 14px;
        padding: 5px;
        &:hover {
          background-color: #91a7ff;
          color: #ffffff;
        }
      }
    }
    .me {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 64px;
    }
  }
}
